<mat-card>
  <mat-card-title>Deleção de Produto</mat-card-title>
  
  <form>
    <mat-form-field>
      <input 
        matInput 
        placeholder="Id"
        name="id"
        [value]="product.id"
        disabled
      >
    </mat-form-field>

    <mat-form-field>
      <input 
        matInput 
        placeholder="Nome"
        name="name"
        [value]="product.name"
        disabled
      >
    </mat-form-field>

    <mat-form-field>
      <input 
        matInput
        type="number" 
        placeholder="Preço (R$)"
        name="price"
        min="0"
        step="0.01"
        [value]="product.price"
        disabled
      >
    </mat-form-field>
  </form>

  <button mat-raised-button class="red" (click)="deleteProduct()">
    Excuir Produto
  </button>
  
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>

