<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

  <main>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bem vindo!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        CRUD de produtos com Angular 9 e Ionic 6
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>