<main class="ion-padding">
  <div class="ion-text-right">
    <ion-button color="tertiary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-left">
          Id
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-left">
          Nome
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          Opções
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          1
        </div>
      </ion-col>
      <ion-col>
        <div>
          Arroz
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          Edit / Delete
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</main>
